/dist
/node_modules

logs
*.log
npm-debug.log*

.DS_Store

.vscode/*
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.env*
config/*.key
/uploads